
anystream.spark.streaming.checkpointDir     hdfs:///user/${user.name}/spark-streaming-checkpointDir  
anystream.spark.appName		                AnySteam-UXIP-ETL
anystream.spark.streaming.interval	        3
anystream.metaq.zkConnect                   172.16.200.239:2181,172.16.200.233:2181,172.16.200.234:2181
anystream.metaq.topic                       ORION_UXIP_DATA
anystream.metaq.group                       ORION_UXIP_ETL
anystream.metaq.runners                     5
anystream.hql                              sqlFileName